# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
Assets/Plugins/Editor/

# Visual Studio / JetBrains
.vs/
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.suo

# OS
.DS_Store
Thumbs.db

# Outros
*.tmp
*.bak
*.old
*.swp
